ul {
	list-style-type: none;
	padding-left: 0;
}

li {
	margin: 10px;
}

ul li label {
	width: 80px;
	text-align: center;
	float: left;
}

form > div {
	margin-top: 20px;
	display: flex;
	justify-content: space-evenly;
}

form > div > input {
	width: 150px;
	height: 40px;
	text-align: center;
	border: 1px solid #CCC;
	background-color: lightgray;
	box-shadow: 1px 1px 1px #CCC;
}