a:link, a:visited {
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: #000;
    color: #fff;
}
li {
    list-style-type: none;
    float: left;
}
a {
    padding: 10px 30px;
    background-color: #ccc;
}
